<div class="user-image">
  <div class="toumei">
    <div class="tag1">
        </div>  
        <div class ="home-header">
            <div class="home-topabout">
            <%= link_to "TOP", "/home" ,class:"edit3" %>
            <%= link_to "ABOUT", "/bot" ,class:"edit3" %>
            </div>
            <div class="home-menu">
            </div>
            <div class="home-ham">
                <div id="hamburg">
                    <input id="input" type="checkbox"> 
                    <label id="label1" for="input"><div class="line1"></div><div class="line2"></div><div class="line3"></div></label> 
                    <div id="content"> 
                    <ul class="list">
                        <div class="home-ham1">
                        <% if user_signed_in? %>
                        <li><%= link_to "My page", user_path(current_user.id) %></li>
                        <% end %>
                        </div>
                        <div class="home-ham1">
                        <li><a href="/users/sign_up">Sign up</a>           
                        </li>
                        </div>
                        <div class="home-ham1">
                        <li><a href="/users/sign_in">Sign in</a>   
                        </li>
                        </div>
                        <div class="home-ham1">
                        <% if user_signed_in? %>
                        <li><%= link_to 'Log out', destroy_user_session_path, method: :delete  %></li>
                        <% end %>
                        </div>
                    </ul>
                    </div>
                </div>
            </div>
      </div>

    <div class="user-holl">
    
      <div class="user-left">
      </div>
      <div class="user-right">
        <h2>Sign up</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "users/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :username %><br />
            <%= f.text_field :name, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", :size => 70 %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", :size => 70 %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", :size => 70 %>
          </div>
            <div class="actions">
              <%= f.submit "Sign up",class:"user-button" %>
            </div>   
      <% end %>
      <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>